$fs-12: .12rem;
$fs-14: .14rem;
$fs-16: .16rem;
$fs-18: .18rem;
$fs-20: .20rem;
$fs-22: .22rem;
$fs-24: .24rem;
$fs-26: .26rem;
$fs-28: .28rem;
$fs-30: .30rem;
$fs-32: .32rem;
$fs-34: .34rem;
$fs-36: .36rem;

$common-border-light: #E7E7E7;
$common-border-dark: #333333;
$common-border-primary: #C60127;

$common-background-light: #FFFFFF;
$common-background-gray: #f3f4f6;
$common-background-dark: #000000;
$common-background-primary: #C60127;

$common-primary-color: #C60127;

$common-button-primary: #C60127;
$common-button-white: #FFFFFF;
$common-button-green: #35c62e;

$text-color-black: #333333;
$text-color-white: #FFFFFF;
$text-color-gray: #999999;
$text-color-blue: #3463a0;
$text-color-green: #35c62e;
$text-color-primary: #C60127;
